.ipynb_checkpoints/
*-checkpoint.ipynb
__pycache__/
*.pyc

stock_market_data/
Stocks/
*.csv
*.json
*.txt
!package.json
!README.md
!requirements.txt

# Old notebook files
attempting.ipynb

.env
.vscode/
.idea/
